---
layout: default
title: "Post Archive"
permalink: /archive.html
---
<section class="page-intro">
  <h1>Post Archive</h1>
  <p>Browse articles by tag.</p>
</section>

<section id="tags-list" class="archive">
  {% for tag in site.tags %}
    {% assign tag_name = tag | first %}
    <div class="archive__group" id="{{ tag_name | slugize }}">
      <h2 class="archive__heading">#{{ tag_name }}</h2>
      <ul class="archive__posts">
        {% for post in site.tags[tag_name] %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <span class="archive__date">{{ post.date | date: date_format }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</section>
